In [3]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [4]:
import pandas as pd
import numpy as np
import category_encoders as ce

In [11]:
data = {
    'pincode': [
        110001, 110002, 110003, 110004, 110005, 110006, 110007, 110008, 110009, 110010,
        400001, 400002, 400003, 400004, 400005, 400006, 400007, 400008, 400009, 400010,
        700001, 700002, 700003, 700004, 700005, 700006, 700007, 700008, 700009, 700010
    ],
    'state': [
        'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi',
        'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai',
        'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata'
    ]
}

df = pd.DataFrame(data)
print(df)

    pincode    state
0    110001    Delhi
1    110002    Delhi
2    110003    Delhi
3    110004    Delhi
4    110005    Delhi
5    110006    Delhi
6    110007    Delhi
7    110008    Delhi
8    110009    Delhi
9    110010    Delhi
10   400001   Mumbai
11   400002   Mumbai
12   400003   Mumbai
13   400004   Mumbai
14   400005   Mumbai
15   400006   Mumbai
16   400007   Mumbai
17   400008   Mumbai
18   400009   Mumbai
19   400010   Mumbai
20   700001  Kolkata
21   700002  Kolkata
22   700003  Kolkata
23   700004  Kolkata
24   700005  Kolkata
25   700006  Kolkata
26   700007  Kolkata
27   700008  Kolkata
28   700009  Kolkata
29   700010  Kolkata

In [12]:
# Frequency Encoding

# Frequency encoding is a method used to encode categorical variables by replacing each category with its frequency (or count) in the dataset.
frequency_map = df['state'].value_counts().to_dict()
df['state_freq_encoded'] = df['state'].map(frequency_map)
print(df)

    pincode    state  state_freq_encoded
0    110001    Delhi                  10
1    110002    Delhi                  10
2    110003    Delhi                  10
3    110004    Delhi                  10
4    110005    Delhi                  10
5    110006    Delhi                  10
6    110007    Delhi                  10
7    110008    Delhi                  10
8    110009    Delhi                  10
9    110010    Delhi                  10
10   400001   Mumbai                  10
11   400002   Mumbai                  10
12   400003   Mumbai                  10
13   400004   Mumbai                  10
14   400005   Mumbai                  10
15   400006   Mumbai                  10
16   400007   Mumbai                  10
17   400008   Mumbai                  10
18   400009   Mumbai                  10
19   400010   Mumbai                  10
20   700001  Kolkata                  10
21   700002  Kolkata                  10
22   700003  Kolkata                  10
23   700004  Kolkata                  10
24   700005  Kolkata                  10
25   700006  Kolkata                  10
26   700007  Kolkata                  10
27   700008  Kolkata                  10
28   700009  Kolkata                  10
29   700010  Kolkata                  10

In [13]:
# Binary Encoding
encoder = ce.BinaryEncoder(cols='state')
df_encoded = encoder.fit_transform(df['state'])
df = pd.concat([df, df_encoded], axis=1)
print(df)

    pincode    state  state_freq_encoded  state_0  state_1
0    110001    Delhi                  10        0        1
1    110002    Delhi                  10        0        1
2    110003    Delhi                  10        0        1
3    110004    Delhi                  10        0        1
4    110005    Delhi                  10        0        1
5    110006    Delhi                  10        0        1
6    110007    Delhi                  10        0        1
7    110008    Delhi                  10        0        1
8    110009    Delhi                  10        0        1
9    110010    Delhi                  10        0        1
10   400001   Mumbai                  10        1        0
11   400002   Mumbai                  10        1        0
12   400003   Mumbai                  10        1        0
13   400004   Mumbai                  10        1        0
14   400005   Mumbai                  10        1        0
15   400006   Mumbai                  10        1        0
16   400007   Mumbai                  10        1        0
17   400008   Mumbai                  10        1        0
18   400009   Mumbai                  10        1        0
19   400010   Mumbai                  10        1        0
20   700001  Kolkata                  10        1        1
21   700002  Kolkata                  10        1        1
22   700003  Kolkata                  10        1        1
23   700004  Kolkata                  10        1        1
24   700005  Kolkata                  10        1        1
25   700006  Kolkata                  10        1        1
26   700007  Kolkata                  10        1        1
27   700008  Kolkata                  10        1        1
28   700009  Kolkata                  10        1        1
29   700010  Kolkata                  10        1        1

In [9]:
# Target Encoding

data = {
    'category': ['A', 'B', 'C', 'A', 'B', 'B', 'C', 'A', 'A', 'B'],
    'target': [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Calculate mean target value for each category
mean_target = df.groupby('category')['target'].mean()
print("\nMean target value for each category:")
print(mean_target)

# Replace categories with their mean target values
df['category_target_encoded'] = df['category'].map(mean_target)
print("\nDataFrame after Target Encoding:")
print(df)

Original DataFrame:
  category  target
0        A       1
1        B       0
2        C       1
3        A       0
4        B       1
5        B       0
6        C       1
7        A       0
8        A       1
9        B       0

Mean target value for each category:
category
A    0.50
B    0.25
C    1.00
Name: target, dtype: float64

DataFrame after Target Encoding:
  category  target  category_target_encoded
0        A       1                     0.50
1        B       0                     0.25
2        C       1                     1.00
3        A       0                     0.50
4        B       1                     0.25
5        B       0                     0.25
6        C       1                     1.00
7        A       0                     0.50
8        A       1                     0.50
9        B       0                     0.25